*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(Images/business3.jpeg);
background-position: center;
background-size: cover;
position: relative;
}

body {
    background-image: url(images/hatter2.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;/* Beállítjuk a fehér háttérszínt */
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 80px;

}

.nav-links{
    flex:1;
    text-align: right;
}








.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;

}

.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 17px;
    display: block;

   
    
}








.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}



.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    font-size: 14px;
    margin: 10px 0 40px;
    color:#fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;}

    nav .fa{
        display: none;
    }

    @media (max-width:700px)
    {
        .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color:#fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/*-----course---*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    

}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align:justify;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}

.course-col{
    flex-basis: 22%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 00.5s;
}

.course-col .fa{
    display: block;
        color:rgb(20, 3, 3);
        margin: 10px;
        font-size: 50px;
        cursor: pointer;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

h3 a{
    color: #0c0302ab;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*----campus*/

.campus{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;

    overflow: hidden ;
}

.campus-col img{
    width: 80%;
    height: 80%;
    display: block;
    border-radius: 50px;
    
}

.layer{
    background:transparent;
    height: 80%;
    width: 80%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
    border-radius: 50px;


}

.layer:hover{
    background: rgba(204, 84, 14, 0.7);

}

.layer h3{
    width: 100%;
    font-weight: 400;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
opacity: 0;
transition: 00.5s;
}
.layer h3 a{
    color: white;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*---Facilities*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-bottom: 15px;
    margin-top: 16px;
    text-align: left;
}

/*testimonials*/

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}

.testimonial-col p{
    padding: 0;

}

.testimonial-col h3{
    margin-top: 15px;
    text-align: left;

}

.testimonial-col .fa{
    color:#f44336;

}

@media(max-width: 700px){
    .testimonial-col img{
       
        margin-left: 0px;
        margin-right: 15px;
       
    
    }

}


/*cta---*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/business.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;

    }
}

/*---fotter*/
/*
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}

.icons .fa{
    color:#f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    
}


/*-----about---*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/business.jpg
    );
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff;

}

.sub-header h1{
    margin-top: 100px;

}

.about-us{
    width: 80%;
margin: auto;
padding-top: 0px;
padding-bottom: 50px;


}

.about-col{

    flex-basis: 48%;
    padding:0px 2px;

}

.about-col img{
    width: 90%;
    border-radius: 50px;
}

.about-col h1{
    padding-top:0;
    
}

.about-col p{
padding:15px 0 25px;
font-size: 18px;
color:black;



}

.red-btn{
    border:1px solid #f44336;
    background:transparent;
    color:#f44336;

}

.red-btn:hover{
    color:#fff
}

/* Blog content-----*/

.blog-content{

    width: 88%;
    margin:auto;
    padding: 68px 0;
}

.blog-left{
flex-basis: 65%;

}

.blog-left img{
    width: 100%;

}

.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p{
    color: #999;
   padding:0;

}

.blog-right{
    flex-basis: 32%;

}
.blog-right h3{
background: #f44336;
color: #fff;
padding: 7px 0;
font-size: 16px;
margin-bottom: 20px;

}

.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;

}

.comment-box{
    border:1px solid #ccc;
    margin: 50px 0;
    padding:10px 20px ;
}

.comment-box h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{ 
width: 100%;
padding: 10px;
margin: 15px 0;
box-sizing: border-box;
border: none;
outline: none;
background: #f0f0f0;
}

.comment-form button{
margin:10px 0;


}

@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
}


/*---contact---*/

.location{

    width:60%;
    margin: auto;
    padding: 10px 0;


}

.location iframe{
width: 100%;

}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;

}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}


.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin:10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
font-size: 20px;
margin-bottom: 5px;
color: #555;
font-weight: 400;


}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border:1px solid #ccc;
    box-sizing:border-box ;
}



.dropdown {
    position: relative;
  }
  .dropdown-menu,
  .menu-right {
    position: absolute;
        width: 100%;
    top: 50px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }


  .menu-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  }


  .dropdown:hover .dropdown-menu {
    top: 34px;
    opacity: 1;
    visibility: visible;
  }
 


  table, th, td {
    border:1px solid black;
  }


  ul {
    margin: 0px;
    padding: 0px;
}


/* Footer */ 

.footer-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/business4.jpg);
    background-position: center;
    background-size: cover;
  position: relative;
}

/*
.footer-cta {
  border-bottom: 1px solid #d41313;
}

*/ 
.single-cta i {
  color: #f44336;
  font-size: 30px;
  float: center;
  margin-top: 8px;
}


.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 2px;
}


.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}


/*

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

*/ 
/*

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #e01313;
  line-height: 28px;
}
*/

/*
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
*/

/*
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}

*/ 
/*
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px ;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #f44336;
}

*/

/*
.footer-widget ul li {
  display: inline-block;
 
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #f44336;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
*/ 

/*
.subscribe-form {
  position: relative;
  overflow: hidden;
}
*/


.copyright-area{
  background: #202020;
  padding: 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #f44336;
}



.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #f44336;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}




